FORMAT: 1A
HOST: https://api.ccb.org.br/api/v1

# Svartbrand API

Aqui você encontra os detalhes de como realizar chamadas em HTTP para a API *Svartbrand*;

## Autenticação [/auth]

### api.auth.info [GET /auth]

+ Request (application/json)
    
    + Headers
            
            Authorization: "Bearer <token>"

+ Response 200 (application/json)

    + Body

            {
                "user": {
                    "cod_empresa": "0000000000000",
                    "id_pais": "1",
                    "emp_cidade": "Cincinnati",
                    "dsc_uf": "OH",
                    "cep_cep": "10019",
                    "dsc_empresa": "Badass Company",
                    "emp_razao_social": "Badass Company Industry Ltd.",
                    "emp_endereco": "7th Avenue",
                    "emp_endereco_num": "666",
                    "emp_compl_endereco": null,
                    "emp_bairro": "Downtown",
                    "emp_telefone": "+1 (800) 862-46520",
                    "emp_telefone2": null,
                    "emp_fax": null,
                    "emp_e_mail": "john@badass.com",
                    "emp_home_page": null,
                    "emp_tipo_pessoa": "J",
                    "emp_estadual_rg": "000.000.000.000",
                    "emp_livre_comercio": "0",
                    "emp_data_fundacao": null,
                    "emp_usuario_inc": "sa",
                    "emp_usuario_alt": "john"
                }
            }

### api.auth.login  [POST /auth]

+ Request (application/json)
    
    + Body

            {
                "username": "02548157000112",
                "password": "emp@senha123"
            }

+ Response 201 (application/json)

    + Body

            {
                "token": "Bearer <token>"
            }

## Resultados de Ensaios [/resultados]

### api.resultados.index [GET /resultados]

+ Request (application/json)
    
    + Headers
            
            Authorization: "Bearer <token>"
    
    + Attributes
        + data_conclusao_begin: dd/mm/yyyy (string, optional)
        + data_conclusao_end: dd/mm/yyyy (string, optional)
        + modalidade: AV (string, optional) - sendo [0] Avulso | [1] Convênio | [2] Assistência Técnica | [3] Certificação | [4] Pesquisa & Desenvolvimento

    + Body

            {
                "data_conclusao_begin": "20/05/2017",
                "data_conclusao_end": "20/05/2017",
                "modalidade": "AV"
            }

+ Response 200 (application/json)

        [
            {
                "data":[
                    {
                        "registro":"02292/17",
                        "prod_marca":"Elizabeth",
                        "prod_ref":"HD Basalto Noce",
                        "modalidade":"Avulso",
                        "data_saida":"25/02/2017",
                        "pdf":"<PDF File Content>"
                    },{
                        "registro":"02193/17",
                        "prod_marca":"Elizabeth",
                        "prod_ref":"HD Basalto Noce",
                        "modalidade":"Convênio",
                        "data_saida":"20/03/2017",
                        "pdf":"<PDF File Content>"
                    },{
                        "registro":"00390/17",
                        "prod_marca":"Elizabeth",
                        "prod_ref":"HD Basalto Noce",
                        "modalidade":"Avulso",
                        "data_saida":"10/05/2017",
                        "pdf":"<PDF File Content>"
                    }
                ]
            }
        ]

## Solicitações de Ensaios [/solicitacoes]

### api.solicitacoes.index [GET /solicitacoes]

+ Request (application/json)
    
    + Headers
            
            Authorization: "Bearer <token>"
    
    + Attributes
        + data_solicitacao_begin: dd/mm/yyyy (string, optional)
        + data_solicitacao_end: dd/mm/yyyy (string, optional)

    + Body

            {
                "data_solicitacao_begin": "20/05/2017",
                "data_solicitacao_end": "20/05/2017"
            }

+ Response 200 (application/json)

        {
            "data":[
                {
                    "id":"0229217",
                    "registro":"02292/17",
                    "prod_marca":"Elizabeth",
                    "prod_ref":"HD Basalto Noce",
                    "modalidade":"Avulso",
                    "data_solicitacao":"25/02/2017",
                    "status":"Em execução",
                    "status_code":3,
                    "pdf":"<PDF File Content>"
                },{
                    "id":"0219317",
                    "registro":"02193/17",
                    "prod_marca":"Elizabeth",
                    "prod_ref":"HD Basalto Noce",
                    "modalidade":"Convênio",
                    "data_solicitacao":"20/03/2017",
                    "status":"Finalizado",
                    "status_code":5,
                    "pdf":"<PDF File Content>"
                },{
                    "id":"0039017",
                    "registro":"00390/17",
                    "prod_marca":"Elizabeth",
                    "prod_ref":"HD Basalto Noce",
                    "modalidade":"Avulso",
                    "data_solicitacao":"10/05/2017",
                    "status":"Aguardando amostras",
                    "status_code":2,
                    "pdf":"<PDF File Content>"
                }
            ]
        }

### api.solicitacoes.store [POST /solicitacoes]

+ Request (application/json)
    
    + Headers
            
            Authorization: "Bearer <token>"

    + Body

            {
                "amostra_id": "29217",
                "tipo_material": "1",
                "tipo_acabamento": "3",
                "amst_qtd_pcs": "45",
                "declaracoes": {
                    "solicitante": "Gabriel Piccin",
                    "dim_nom_a": "25",
                    "dim_nom_b": "25",
                    "dim_fab_a": "250",
                    "dim_fab_b": "253",
                    "dim_fab_c": "6.5",
                    "grp_abs": "BIIb",
                    "res_abr": "2",
                    "tonalidade": "Preto",
                    "bitola": "5",
                    "lote_fab": "2103124",
                    "data_fab": "20/05/2017",
                    "linha_prod": "5",
                    "horario_prod": "5:35"
                },
                "obs": "",
                "ensaios": [
                    "RT_32",
                    "RT_26",
                    "RT_28A",
                ]
            }

+ Response 201 (application/json)

    + Headers


    + Body

            {
                "data":{
                    "id": "0229217",
                    "registro": "02292/17",
                    "empresa": {
                        "cnpj": "00.000.000/0001-07",
                        "razaosocial": "ACME Inc Ltda"
                    },
                    "amostra": {
                        "id": "29217",
                        "marca": "Elizabeth",
                        "referencia": "HD Basalto Noce"
                    },
                    "declaracoes": {
                        "solicitante": "Fulano de Tal da Silva"
                    },
                    "modalidade": "Convênio",
                    "obs": "",
                    "data_solicitacao": "01/02/2017",
                    "data_entrada": null,
                    "data_abertura": null,
                    "data_inicio": null,
                    "data_conclusao": null,
                    "data_saida": null,
                    "status": "Em execução",
                    "status_code": 3,
                    "ensaios":[
                        {
                            "id": "RT_32",
                            "desc": "Determinação da Expansão por Umidade",
                            "norma": "NBR 13.818/97 - Anexo X",
                            "status": "Aguardando execução",
                            "data_conclusao": null
                        },
                        {
                            "id": "RT_26",
                            "desc": "Determinação da Resistencia ao Manchamento",
                            "norma": "NBR 13.818/97 - Anexo Y",
                            "status": "Aguardando execução",
                            "data_conclusao": null
                        },
                        {
                            "id": "RT_28A",
                            "desc": "Determinação da Resistencia ao Ataque Químico",
                            "norma": "NBR 13.818/97 - Anexo Z",
                            "status": "Aguardando execução",
                            "data_conclusao": null
                        }
                    ],
                    "pdf": "<PDF File Content>"
                }
            }

### api.solicitacoes.show [GET /solicitacoes/{id}]

+ Request (application/json)
    
    + Headers
            
            Authorization: "Bearer <token>"

+ Response 200 (application/json)

        {
            "data":{
                "id": "0229217",
                "registro": "02292/17",
                "empresa": {
                    "cnpj": "00.000.000/0001-07",
                    "razaosocial": "Cedasa Pisos e revestimentos Ltda"
                },
                "prod_marca": "Elizabeth",
                "prod_ref": "HD Basalto Noce",
                "modalidade": "Avulso",
                "data_solicitacao": "01/02/2017",
                "data_entrada": "10/02/2017",
                "data_abertura": "12/02/2017",
                "data_inicio": "23/02/2017",
                "data_conclusao": "15/03/2017",
                "data_saida": null,
                "solicitante": "Fulano de Tal da Silva",
                "status": "Em execução",
                "status_code": 3,
                "ensaios":[
                    {
                        "desc": "Determinação da Expansão por Umidade",
                        "norma": "NBR 13.818/97 - Anexo X",
                        "status": "Em andamento",
                        "data_conclusao": null
                    },
                    {
                        "desc": "Determinação da Resistencia ao Manchamento",
                        "norma": "NBR 13.818/97 - Anexo Y",
                        "status": "Concluído",
                        "data_conclusao": "10/03/2017"
                    },
                    {
                        "desc": "Determinação da Resistencia ao Ataque Químico",
                        "norma": "NBR 13.818/97 - Anexo Z",
                        "status": "Concluído",
                        "data_conclusao": "11/03/2017"
                    }
                ],
                "pdf": "<PDF File Content>"
            }
        }

## Amostras [/amostras]

### api.amostras.search [GET /amostras/search]

+ Request (application/json)
    
    + Headers
            
            Authorization: "Bearer <token>"
    
+ Response 200 (application/json)

        {
            "data":[
                {
                    "id":"29217",
                    "referencia":"HD Piazza Italia",
                    "marca": "Embramaco"
                },{
                    "id":"9517",
                    "referencia":"HD Piazza le Franc",
                    "marca": "Embramaco"
                },{
                    "id":"3577",
                    "referencia":"Porcelanato Polido Bege",
                    "marca": "Esther"
                }
            ]
        }